html {
	height:100%;
}
body {
  height:100%;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  padding-top: 50px;
}
#home {
	min-height:100%;
}
.navbar-fixed-top {
	background-color:#fff;
}
#grinnell-logo {
	height:130px;
}
#about {
	padding-bottom:60px;
	padding-top:15px;
}
#footer {
	background-color:#eee;
    margin-bottom:0;
}
a, a:focus, a:hover {
    color:#5B2313;
}
.row>a {
	color:#eee;
}
.row>a:hover {
	text-decoration:none;
}
.row>a:hover h1 {
	text-decoration:underline;
}
.fill {
	opacity: 0;
        background: rgba(0,0,0,0.5);
	padding:60px;
}
.row>a:hover .fill{
	opacity:1;
}
#home .col-md-3 {
        min-width:300px;
}
.col-md-3>.jumbotron {
	padding:0;
	border-radius:0px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.col-md-3 .container {
	height:101px;
}
#home .media-object {
	height:50px;
}
.jumbotron {
	background-color:white;
}
.jumbotron.image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#facebook {
	//background-color: #4867AA;
	background-image: url(../assets/web-1.jpg); 
}
#linkedin {
	//background-color: #000000;
	background-image: url(../assets/web-2.jpg);
}
#etsy {
	//background-color: #000000;
	background-image: url(../assets/web-3.jpg);
}
#etsy img {
	background-color:white;
}
#aboutus {
	//background-color: #000000;
	background-image: url(../assets/web-4.jpg);
}
#sample3 {
	background: url(../assets/sample3.jpg) no-repeat center center local; 
}
#sample4 {
	background: url(../assets/sample4.jpg) no-repeat center center local; 
}
#sample1 {
	background: url(../assets/sample1.jpg) no-repeat center center local; 
}
#links ul {
        list-style-type:none;
        padding-left:0;
}
