html {
	height:100%;
}
body {
  height:100%;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  padding-top: 50px;
}
.full-screen {
	min-height:100%;
}
#home {
        padding-top:0;
}
#home .page-header {
        margin-top:0;
        padding-top:0;
}
#home .vert-align {
    display: inline-block;
    height:101px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}
#home .col-md-4 {
        margin-bottom:15px;
        margin-top:35px;
}
#home .img-responsive {
        max-height:180px;
}
#customers .col-md-3 {
        margin-bottom:15px;
}
#customers .col-md-3 img {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
#social-media-icons img {
        height:50px;
}
#social-media-icons img, #jewelry-images img {
        position:relative;
        left:50%;
        transform:translate(-50%,0);
}
#home .highlight {
        z-index:1;
        position:absolute;
        opacity:0;
        transition:opacity 0.3s ease;
}
#home a:hover .highlight {
        opacity:1;
}
.navbar-fixed-top {
	background-color:#fff;
}
#grinnell-logo {
        text-align:center;
}
#grinnell-logo img{
	height:130px;
}
#about {
	padding-bottom:60px;
	padding-top:15px;
}
#footer {
	background-color:#eee;
    margin-bottom:0;
}
a, a:focus, a:hover {
    color:#5B2313;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: white;
}

/*
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/
.row>a {
	color:#eee;
}
.row>a:hover {
	text-decoration:none;
}
.row>a:hover h1 {
	text-decoration:underline;
}
.fill {
	opacity: 0;
        background: rgba(0,0,0,0.5);
	padding:60px;
}
.row>a:hover .fill{
	opacity:1;
}
#home .col-md-3 {
        //min-width:300px;
}
.col-md-3>.jumbotron {
	padding:0;
	border-radius:0px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.col-md-3 .container {
	height:101px;
}
#home .media-object {
	height:50px;
}
.jumbotron {
	background-color:white;
}
.jumbotron.image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#facebook {
	//background-color: #4867AA;
	background-image: url(../assets/web-1.jpg); 
}
#linkedin {
	//background-color: #000000;
	background-image: url(../assets/web-2.jpg);
}
#etsy {
	//background-color: #000000;
	background-image: url(../assets/web-3.jpg);
}
#etsy img {
	background-color:white;
}
#aboutus {
	//background-color: #000000;
	background-image: url(../assets/web-4.jpg);
}
#sample3 {
	background: url(../assets/sample3.jpg) no-repeat center center local; 
}
#sample4 {
	background: url(../assets/sample4.jpg) no-repeat center center local; 
}
#sample1 {
	background: url(../assets/sample1.jpg) no-repeat center center local; 
}
#links ul {
        list-style-type:none;
        padding-left:0;
}
