html {
	height:100%;
}
body {
  height:100%;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size:13px;
  padding-top: 0;
}
ul {
        list-style-type:none;
}
.full-screen {
	min-height:100%;
}
#home {
//       padding-top:50px;
        margin-bottom:0;
        position:relative;
        transform:translateY(-50%);
}
#home .page-header {
        margin-top:0;
        padding-top:0;
        margin-bottom:0;
}

@media (min-width: 768px) { 
        #slideshow {
                transform:translateY(-50%);
        }
}

#slideshow {
        padding:0;
        margin-bottom:15px;
//        background: linear-gradient(90deg,#eee,#eee 30%, white 40%,white 60%, #eee 70%,#eee);
}
#slideshow-border-top {
        margin-bottom:0;
        border-top-color:#eee;
}
#slideshow-border-bottom {
        margin-top:0;
        border-top-color:#eee;
}
#home .vert-align {
    display: inline-block;
    height:101px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#home .col-sm-4 {
        margin-bottom:15px;
        margin-top:20px;
}
#home .img-responsive {
        max-height:180px;
}
#customers {
        margin-bottom: 0;
        padding-bottom:0;
}
#customers .col-lg-3 {
        margin-bottom:15px;
}
#customers .col-lg-3 img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#social-media-icons img {
        height:50px;
}
#social-media-icons img, #jewelry-images img, .feature img{
        position:relative;
        left:50%;
        transform:translateX(-50%);
}
#jewelry-images .media {
        position:relative;
        top:50%;
        transform:translateY(-50%);
}
#home .highlight {
        z-index:1;
        position:absolute;
        opacity:0;
        transition:opacity 0.3s ease;
}
#home a:hover .highlight {
        opacity:1;
}
.navbar-fixed-top {
	background-color:#fff;
}
#navbar {
        font-size:9pt;
}
#grinnell-logo {
}
#grinnell-logo img{
	height:130px;
}
#grinnell-logo.centered-box {
        position:relative;
        left:50%;
        transform:translateX(-50%);
        text-align:center;
}
#grinnell-logo.centered-box>img {
        height:175px;
}
#scroll-arrow {
        cursor:pointer;
        position:fixed;
        right:0;
        bottom:0;
        z-index:1;
        transition: opacity 0.3s, background-color 0.3s;
        width:50px;
        height:50px;
        border-radius:25px;
        background-color:rgba(100,100,100,0.5);
        margin:25px;
        margin-right:25px;
}
#scroll-arrow:hover {
        background-color:rgba(100,100,100,0.8);
}
#triangle {
    border-right: 6px white solid; 
    border-bottom: 6px white solid;
    width: 25px; 
    height: 25px;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-65%) rotate(45deg);
}
#contact {
	padding-bottom:60px;
}
.section {
	padding-top:15px;
}
.section {
        padding-left:0;
        padding-right:0;
        padding-bottom:30px;
}
.grey { 
        background-color:#eee;
}
.feature {
        padding-top: 30px;
}
.feature .row {
        padding-bottom: 30px;
}
.feature .image-container {
        margin-bottom:30px;
}
#feature-1 {
//        background:linear-gradient(90deg,#eee,white 40%,white);
}
#feature-2 {
/*        background:linear-gradient(90deg,white,white 60%,#eee 100%,white);
        margin-bottom:60px;*/
}
.section .centered {
        width:75%;
        position:relative;
        left:50%;
        transform:translateX(-50%);
}
.section .feature img, #slideshow img {
        max-height:250px;
        padding:5px;
        border: 1px solid #ddd;
        background-color:white;
}
div#about hr, #about .page-header {
        border-color:#ddd;
}
#about-lead p.lead {
        font-size:16px;
}
#footer {
	background-color:#eee;
    margin-bottom:0;
}
#about.brown,#footer.brown {
    background-color: #482706;
    color: #eee;
}
#footer.brown a {
    color: #aaa;
}
a, a:focus, a:hover {
    color:#5B2313;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: white;
}

/*
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/
.row>a {
	color:#eee;
}
.row>a:hover {
	text-decoration:none;
}
.row>a:hover h1 {
	text-decoration:underline;
}
.fill {
	opacity: 0;
        background: rgba(0,0,0,0.5);
	padding:60px;
}
.row>a:hover .fill{
	opacity:1;
}
#home .col-lg-3 {
        //min-width:300px;
}
.col-lg-3>.jumbotron {
	padding:0;
	border-radius:0px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.col-lg-3 .container {
	height:101px;
}
#home .media-object {
	height:25px;
}
#home .media-body {
        text-align:center;
        vertical-align:middle;
}
.jumbotron {
	background-color:white;
}
.jumbotron.image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#facebook {
	//background-color: #4867AA;
	background-image: url(../assets/web-1.jpg); 
}
#linkedin {
	//background-color: #000000;
	background-image: url(../assets/web-2.jpg);
}
#etsy {
	//background-color: #000000;
	background-image: url(../assets/web-3.jpg);
}
#etsy img {
	background-color:white;
}
#aboutus {
	//background-color: #000000;
	background-image: url(../assets/web-4.jpg);
}
#aboutus {
        text-align:center;
}
#aboutus span {
        display:block;
        position:relative;
        top:50%;
        transform:translateY(-50%);
}
#sample3 {
	background: url(../assets/sample3.jpg) no-repeat center center local; 
}
#sample4 {
	background: url(../assets/sample4.jpg) no-repeat center center local; 
}
#sample1 {
	background: url(../assets/sample1.jpg) no-repeat center center local; 
}
#links ul {
        list-style-type:none;
        padding-left:0;
}
#map {
        padding:0;
        height:500px;
}
.map-fill {
     //   background-color: rgb(229, 227, 223);
}
/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
    position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 6px;
    height: 6px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border-radius:3px;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { 
        background-color: #d3d3d3;
        border: 1px solid gray;
}
.jssorb01 .av { 
        background-color: #fff; 
        border: gray 1px solid;
}
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* jssor slider arrow navigator skin 13 css */
/*
.jssora13l                  (normal)
.jssora13r                  (normal)
.jssora13l:hover            (normal mouseover)
.jssora13r:hover            (normal mouseover)
.jssora13l.jssora13ldn      (mousedown)
.jssora13r.jssora13rdn      (mousedown)
*/
.jssora13l, .jssora13r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url('img/a13.png') no-repeat;
    overflow: hidden;
}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13l.jssora13ldn { background-position: -250px -35px; }
.jssora13r.jssora13rdn { background-position: -310px -35px; }
